.floor-border {
  width: 70vh;
}

.floor-nav {
  font-size: 100;
  padding: 10px
}

.header-text {
  font-size: 50px;
  font-family:'Courier New', Courier, monospace ;
  padding-left: 35vh;
  text-decoration: underline;
}

.logo {
  width: 20%;
  height: 20%;
}

.unit-border {
  border-top: 3px solid #efbb41;

}

.space-border {
  border-top: 3px solid #efbb41;
}

.space {
  margin-left: 30px;
}

.radiator-border {
  border-top: 3px solid #efbb41;
  border-bottom: 3px solid #efbb41;
}

.radiator {
  margin-left: 30px;
}

.node-border {
  border-top: 3px solid #efbb41;
}

.node-warning {
  color: #a64452
}

.node-normal {
  color: darkblue
}
